.project-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card .MuiCardActions-root {
    padding: 16px;
    align-items: flex-end;
    align-self: flex-start;
    flex: 1;
}